# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# Virtualenv
venv/
env/

# Editor/IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Env files
.env

# Database
*.sqlite3

# Pytest cache
.pytest_cache/